1 VERSIONINFO 
 FILEVERSION 1,0,0,0 
 PRODUCTVERSION 1,0,0,0 
 FILEFLAGSMASK 0x3fL 
 FILEFLAGS 0x0L 
 FILEOS 0x4L 
 FILETYPE 0x1L 
 FILESUBTYPE 0x0L 
BEGIN 
    BLOCK "StringFileInfo" 
    BEGIN 
        BLOCK "00001200" 
        BEGIN 
            VALUE "Comments", "\0" 
            VALUE "CompanyName", "\0" 
            VALUE "FileDescription", "E-Shelf. The electronic library\0" 
            VALUE "FileVersion", "1.0.0.0\0" 
            VALUE "InternalName", "EShelf\0" 
            VALUE "LegalCopyright", "\0" 
            VALUE "LegalTrademarks", "\0" 
            VALUE "OriginalFilename", "EShelf.exe\0" 
            VALUE "ProductName", "E-Shelf\0" 
            VALUE "ProductVersion", "1.0.0.0\0" 
        END 
    END 
    BLOCK "VarFileInfo" 
    BEGIN 
        VALUE "Translation", 0x0000, 0x1200 
    END 
END 
